# 1806554 Ganesh Bhandarkar (DA LAB RECORD)

## LAB 1

In [4]:
print("Hello World")
date()
print(mean(1:5))
x <- 1
x
apple <-c('red','green',"yellow")
print(apple)
print(class(apple))
list1 <-list(c(2,5,3),21.3,sin)
M = matrix(c('a','a','b','c','b','a'),nrow=2,ncol=3,byrow =TRUE)  

apple_colors <-c('green','green','yellow','red','red','red','green')
factor_apple <-factor(apple_colors)
print(factor_apple)
print(nlevels(factor_apple))

BMI <-data.frame(gender =c("Male","Male","Female"),
                 height =c(152,171.5,165),
                 weight =c(81,93,78),
                 age=c(42,38,26))
print(BMI)

var_x <-"Hello"
cat("The class of var_x is ",class(var_x),"\n")
var_x <-34.5
cat("Now the class of var_x is ",class(var_x),"\n")
var_x <-27L
cat(" Next the class of var_x becomes ",class(var_x),"\n")


v <-c(2,5.5,6)
t <-c(8,3,4)
print(v+t)
print(v-t)
print(v*t)
print(v/t)
print(v%%t) # Give the remainder of the first vector with the second
print(v%/%t) # Give the result of division of first vector with second (quotient)
print(v^t) # The first vector raised to the exponent of second vector


v <-c(2,5.5,6)
t <-c(8,3,4)
print(v>t)
print(v<t)
print(v==t)
print(v<=t)
print(v>=t)
print(v!=t)

v <-c(2,5.5,6)
u = c(18,13,14)
print(v)
print(t)
print(u)

c(2,5.5,6) -> v
print(v)
print(t)

v <-2:8
print(v)

[1] "Hello World"

[1] "Thu Apr 08 13:16:42 2021"

[1] 3

[1] 1

[1] "red"    "green"  "yellow"
[1] "character"
[1] green  green  yellow red    red    red    green
Levels: green red yellow
[1] 3
  gender height weight age
1   Male  152.0     81  42
2   Male  171.5     93  38
3 Female  165.0     78  26
The class of var_x is  character
Now the class of var_x is  numeric
 Next the class of var_x becomes  integer
[1] 10.0  8.5 10.0
[1] -6.0  2.5  2.0
[1] 16.0 16.5 24.0
[1] 0.250000 1.833333 1.500000
[1] 2.0 2.5 2.0
[1] 0 1 1
[1]  256.000  166.375 1296.000
[1] FALSE  TRUE  TRUE
[1]  TRUE FALSE FALSE
[1] FALSE FALSE FALSE
[1]  TRUE FALSE FALSE
[1] FALSE  TRUE  TRUE
[1] TRUE TRUE TRUE
[1] 2.0 5.5 6.0
[1] 8 3 4
[1] 18 13 14
[1] 2.0 5.5 6.0
[1] 8 3 4
[1] 2 3 4 5 6 7 8

## LAB 2