# 1806554 Ganesh Bhandarkar (DA LAB RECORD)

In [2]:
#=====================================================================================================================#

# 1806554 Ganesh Bhandarkar Lab 1

In [14]:
print("Hello World")
date()
print(mean(1:5))
x <- 1
x
apple <-c('red','green',"yellow")
print(apple)
print(class(apple))
list1 <-list(c(2,5,3),21.3,sin)
M = matrix(c('a','a','b','c','b','a'),nrow=2,ncol=3,byrow =TRUE)

[1] "Hello World"

[1] "Thu Apr 08 13:28:31 2021"

[1] 3

[1] 1

[1] "red"    "green"  "yellow"
[1] "character"

In [2]:
apple_colors <-c('green','green','yellow','red','red','red','green')
# Create a factor object.
factor_apple <-factor(apple_colors)
# Print the factor.
print(factor_apple)
print(nlevels(factor_apple))

[1] green  green  yellow red    red    red    green
Levels: green red yellow
[1] 3

In [3]:
BMI <-data.frame(gender =c("Male","Male","Female"),
                 height =c(152,171.5,165),
                 weight =c(81,93,78),
                 age=c(42,38,26))
print(BMI)

  gender height weight age
1   Male  152.0     81  42
2   Male  171.5     93  38
3 Female  165.0     78  26

In [4]:
var_x <-"Hello"
cat("The class of var_x is ",class(var_x),"\n")
var_x <-34.5
cat("Now the class of var_x is ",class(var_x),"\n")
var_x <-27L
cat(" Next the class of var_x becomes ",class(var_x),"\n")

The class of var_x is  character
Now the class of var_x is  numeric
 Next the class of var_x becomes  integer

In [5]:
v <-c(2,5.5,6)
t <-c(8,3,4)
print(v+t)
print(v-t)
print(v*t)
print(v/t)
print(v%%t)
print(v%/%t) 
print(v^t)

[1] 10.0  8.5 10.0
[1] -6.0  2.5  2.0
[1] 16.0 16.5 24.0
[1] 0.250000 1.833333 1.500000
[1] 2.0 2.5 2.0
[1] 0 1 1
[1]  256.000  166.375 1296.000

In [6]:
v <-c(2,5.5,6)
t <-c(8,3,4)
print(v>t)
print(v<t)
print(v==t)
print(v<=t)
print(v>=t)
print(v!=t)

[1] FALSE  TRUE  TRUE
[1]  TRUE FALSE FALSE
[1] FALSE FALSE FALSE
[1]  TRUE FALSE FALSE
[1] FALSE  TRUE  TRUE
[1] TRUE TRUE TRUE

In [8]:
v <-c(2,5.5,6)
u = c(18,13,14)
print(v)
print(t)
print(u)

[1] 2.0 5.5 6.0
[1] 8 3 4
[1] 18 13 14

In [10]:
c(2,5.5,6) -> v
print(v)
print(t)

[1] 2.0 5.5 6.0
[1] 8 3 4

In [12]:
v <-2:8
print(v)

[1] 2 3 4 5 6 7 8

In [13]:
v1 <-8
v2 <-12
t <-1:10
print(v1 %in% t)
print(v2 %in% t)

[1] TRUE
[1] FALSE

# 1806554 Ganesh Bhandarkar Lab 2

In [1]:
name <- as.character(readline(prompt = "name"))
age <- as.integer(readline(prompt = "age"))
cat("Name : ", name,"\n","Age : ", age)

name Ganesh Bhandarkar
age 20

Name :  Ganesh Bhandarkar
 Age :  20

In [16]:
roll <- as.integer(readline(prompt = "roll no"))
name <- as.character(readline(prompt = "name"))
branch <- as.character(readline(prompt = "branch"))
cat("roll->",roll,"\n","name->",name,"\n","branch->",branch)

roll no 1806554
name Ganesh Bhandakar
branch IT

roll-> 1806554
 name-> Ganesh Bhandakar
 branch-> IT

In [23]:
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
cat("sum : ",x[1]+x[2],"\t","mul : ",x[1]*x[2],"\t","div : ",x[1]/x[2],"\t","sub : ",x[1]-x[2])

 5 2

sum :  7 	 mul :  10 	 div :  2.5 	 sub :  3

In [27]:
x <- as.character(readline())
x <- strsplit(x,"")
x <- as.integer(x[[1]])
cat("sum of 3 digits of number : ",x[1]+x[2]+x[3])

 234

sum of 3 digits of number :  9

In [28]:
x <- as.integer(readline())
area = 3.14*x*x
circumference = 2*3.14*x
cat("area : ",area,"\n","circumference : ",circumference)

 3

area :  28.26
 circumference :  18.84

In [35]:
cat("seq bet 20 to 50 : ",c(20:50))
cat("\n")
cat("mean bet 20 to 60 : ",mean(20:60))
cat("\n")
cat("sum for 51 to 91 : ",sum(51:91))

seq bet 20 to 50 :  20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
mean bet 20 to 60 :  40
sum for 51 to 91 :  2911

In [38]:
round(runif(10,-50,50))

 [1] -33  22  -6 -44   0 -16   2  13 -24  13

In [41]:
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
max(x)
min(x)

 1 70 11 34 21 45

[1] 70

[1] 1

In [48]:
x <- c(1,2,3,4,5)
y <- c("hey","how","are","you","bruh")
z <- x > 1
class(x)
cat(x,"\n")
class(y)
cat(y,"\n")
class(z)
cat(z)

[1] "numeric"

1 2 3 4 5

[1] "character"

hey how are you bruh

[1] "logical"

FALSE TRUE TRUE TRUE TRUE

In [51]:
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
cat("sum : ",sum(x),"\n","mean : ",mean(x),"\n","product : ",prod(x))

 1 2 3 4 5

sum :  15
 mean :  3
 product :  120

In [58]:
tmp <- c(1:20)
print(tmp)
tmp <- c(20:1)
print(tmp)
tmp <- c(1:20,20:1)
print(tmp)
tmp <- c(4,6,3)
print(tmp)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 20 19 18 17 16
[26] 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1
[1] 4 6 3

# 1806554 Ganesh Bhandarkar Lab 3

In [8]:
mat = matrix(c(3:14),nrow = 4, byrow = TRUE)
mat

     [,1] [,2] [,3]
[1,]  3    4    5
[2,]  6    7    8
[3,]  9   10   11
[4,] 12   13   14

In [17]:
mat = matrix(c(3:14),nrow = 4, byrow = FALSE)
mat

     [,1] [,2] [,3]
[1,] 3     7   11
[2,] 4     8   12
[3,] 5     9   13
[4,] 6    10   14

In [18]:
dimnames(mat) <- list(letters[1:4],letters[1:3])
mat

  a b  c
a 3  7 11
b 4  8 12
c 5  9 13
d 6 10 14

In [19]:
print(mat[1,3])

[1] 11

In [20]:
print(mat[4,2])

[1] 10

In [21]:
print(mat[2,])

 a  b  c
 4  8 12

In [22]:
print(mat[,3])

 a  b  c  d
11 12 13 14

In [23]:
m1 = matrix(c(1:6),nrow = 2,ncol = 3, byrow = TRUE, dimnames = list(letters[1:2],letters[1:3]))
m1

  a b c
a 1 2 3
b 4 5 6

In [24]:
m2 = matrix(c(7:12),nrow = 2,ncol = 3, byrow = FALSE, dimnames = list(letters[1:2],letters[1:3]))
m2

  a b  c
a 7  9 11
b 8 10 12

In [26]:
matadd <- m1 + m2
matadd

  a  b  c
a  8 11 14
b 12 15 18

In [27]:
matsub <- m1 - m2
matsub

  a  b  c
a -6 -7 -8
b -4 -5 -6

In [28]:
matmul <- m1 * m2
matmul

  a  b  c
a  7 18 33
b 32 50 72

In [31]:
matdiv <- m1 / m2
round(matdiv,digits = 2)

  a    b    c
a 0.14 0.22 0.27
b 0.50 0.50 0.50

In [36]:
v <- readline()
v <- strsplit(v," ")
v <- as.integer(v[[1]])

w <- readline()
w <- strsplit(w," ")
w <- as.integer(w[[1]])

maat <- matrix(c(w,v),nrow = 3, byrow = FALSE)
dimnames(maat) <- list(letters[1:3],letters[4:7])
maat

 1 2 3 4 5 6
 7 8 9 10 11 12

  d e  f g
a 7 10 1 4
b 8 11 2 5
c 9 12 3 6

# 1806554 Ganesh Bhandarkar Lab 4

In [3]:
average <- function(){
    a <- as.double(readline())
    b <- as.double(readline())
    c <- as.double(readline())
    y = (a+b+c)/3
    print(paste(y," is average of ",a," ",b," ",c))
}
average()

 1
 2
 3

[1] "2  is average of  1   2   3"

In [5]:
factorial <- function(n){
     fact = 1
    while(n>0){
        fact = fact*n
        n = n-1
    }
    return(fact)
}
factorial(5)

[1] 120

In [20]:
hl <- function(x,y){
    if(x > y) {
        smaller = y
    } else {
        smaller = x
    }
    for(i in 1:smaller) {
        if((x %% i == 0) && (y %% i == 0)) {
            hcf = i
        }
    }
    lcm = x*y/hcf
    return(list(lcm,hcf))
}
hl(2,6)

[[1]]
[1] 6

[[2]]
[1] 2

In [23]:
seq <- function(n){
    if(n==0){
        return(0); 
    }
    return(seq(n-1)+n)
}
seq(5)

[1] 15

In [37]:
rev = 0
reverseofnum <- function(n){
#     if(n==0){
#         return(0);
#     }
    
    while (n > 0) {
      r = n %% 10
      rev = rev * 10 + r
      n = n %/% 10
    }
    #reverseofnum(n)
    return(rev)
}
reverseofnum(223)

[1] 322

In [54]:
Si <- function(x){
    si = (x[1] * x[2] * x[3])/100
    return(si)
}
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
Si(x)

 2 3 4

[1] 0.24

In [39]:
dtob <- function(n) {
    if(n > 1) {
    dtob(as.integer(n/2))
    }
    cat(n %% 2)
}
dtob(52)

110100

In [40]:
fact = 1
factorial <- function(n){
    if(n==0) return(1)
    return(factorial(n-1)*n)
}
factorial(5)

[1] 120

In [43]:
sumofs <- function(n){
    if(n==0) return(0)
    return(sumofs(n-1)+n**2)
}
sumofs(10)

[1] 385

In [55]:
xx <- function(x){
    sum = sum(x[1:5])
    print(sum)
    avg = sum/5
    print(avg)
    Si = round(sd(x[1:5]),2)
    print(Si)
}
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
xx(x)

 1 2 3 4 5

[1] 15
[1] 3
[1] 1.58

# Questions

In [56]:
cumsum(c(1:5))

[1]  1  3  6 10 15

In [58]:
rev(c(1:10))

 [1] 10  9  8  7  6  5  4  3  2  1

In [59]:
rev(cumsum(c(1:10)))

 [1] 55 45 36 28 21 15 10  6  3  1

In [62]:
sample(1:100,10)

 [1] 55 33 63 66  7 88 95 58 53 86

In [63]:
log10(sqrt(100))

[1] 1

### Static Functions

In [2]:
x <- c(1:5)

In [3]:
mean(x)

[1] 3

In [4]:
median(x)

[1] 3

In [5]:
var(x)

[1] 2.5

In [6]:
sd(x)

[1] 1.581139

In [7]:
scale(x)

     [,1]
[1,] -1.2649111
[2,] -0.6324555
[3,]  0.0000000
[4,]  0.6324555
[5,]  1.2649111

In [10]:
summary(x)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1       2       3       3       4       5

In [11]:
rank(x)

[1] 1 2 3 4 5

In [12]:
quantile(x)

  0%  25%  50%  75% 100%
   1    2    3    4    5

# 1806554 Ganesh Bhandarkar Lab 5

In [1]:
height <- c(132,151,162,139,166,147,122) 
weight <- c(48,49,66,53,67,52,40) 
gender<- c("male","male","female","female","male","female","male")

In [6]:
input_data <- data.frame(height,weight,gender)
print(input_data)
print(is.factor(input_data$gender)) 
print(input_data$gender)

  height weight gender
1    132     48   male
2    151     49   male
3    162     66 female
4    139     53 female
5    166     67   male
6    147     52 female
7    122     40   male
[1] TRUE
[1] male   male   female female male   female male
Levels: female male

### Questions

In [32]:
Players = data.frame(Name=c("Tom","Jerry","Spiderman", "Batman","Aquaman"),
                      Num=c("1","2","3","4","5"),
                      Age=c(23,22,25,26,32),
                      Profession=c("Golfer","Crickter","Chess Player","Tennis Player","HandBall Player"),
                      Grade=c("A","A","B","O","C")
                      )
print("Details of the Players:")                      
print(Players)

[1] "Details of the Players:"
       Name Num Age      Profession Grade
1       Tom   1  23          Golfer     A
2     Jerry   2  22        Crickter     A
3 Spiderman   3  25    Chess Player     B
4    Batman   4  26   Tennis Player     O
5   Aquaman   5  32 HandBall Player     C

In [33]:
print(Players$Name)

[1] Tom       Jerry     Spiderman Batman    Aquaman
Levels: Aquaman Batman Jerry Spiderman Tom

In [34]:
print(Players$Grade)

[1] A A B O C
Levels: A B C O

In [35]:
print(head(Players,3))

       Name Num Age   Profession Grade
1       Tom   1  23       Golfer     A
2     Jerry   2  22     Crickter     A
3 Spiderman   3  25 Chess Player     B

In [36]:
print(Players[c(2,5),c(1,3)])

     Name Age
2   Jerry  22
5 Aquaman  32

# 1806554 Ganesh Bhandarkar Lab 6

In [50]:
data <- read.csv("students.csv",nrows = 8)

In [51]:
data

  roll name     doa      per branch
1 1    Rick     6-2-14   91  IT
2 2    Dan      6-4-15   90  Operations
3 3    Michelle 5-4-12   72  IT
4 4    Ryan     19-4-17  76  HR
5 5    Gary     20-5-17  98  Finance
6 6    Nina     21-10-17 81  IT
7 7    Simon    2-2-12   83  Operations
8 8    Guru     31-1-17  89  CSE

In [52]:
retval <- subset(data, per == max(per))
print(retval)

  roll name     doa per  branch
5    5 Gary 20-5-17  98 Finance

In [53]:
retval <- subset(data, branch == "IT" | branch == "CSE")
print(retval)

  roll     name      doa per branch
1    1     Rick   6-2-14  91     IT
3    3 Michelle   5-4-12  72     IT
6    6     Nina 21-10-17  81     IT
8    8     Guru  31-1-17  89    CSE

In [54]:
retval <- subset(data, per > 80)
print(retval)

  roll  name      doa per     branch
1    1  Rick   6-2-14  91         IT
2    2   Dan   6-4-15  90 Operations
5    5  Gary  20-5-17  98    Finance
6    6  Nina 21-10-17  81         IT
7    7 Simon   2-2-12  83 Operations
8    8  Guru  31-1-17  89        CSE

In [55]:
retval <- subset(data, as.Date(doa) > as.Date("1-5-17"))
print(retval)

  roll     name      doa per     branch
1    1     Rick   6-2-14  91         IT
2    2      Dan   6-4-15  90 Operations
3    3 Michelle   5-4-12  72         IT
4    4     Ryan  19-4-17  76         HR
5    5     Gary  20-5-17  98    Finance
6    6     Nina 21-10-17  81         IT
7    7    Simon   2-2-12  83 Operations
8    8     Guru  31-1-17  89        CSE

In [56]:
install.packages("xlsx")
library("xlsx")

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\KIIT\AppData\Local\Temp\RtmpC4r8PH\downloaded_packages

Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [74]:
library(xlsx)
res1 <- read.xlsx2('C:/Users/KIIT/Documents/College-Stuff/DA Lab/student.xlsx', 1)
res1

  roll name     per branch
1 1    Rick     91  IT
2 2    Dan      90  Operations
3 3    Michelle 72  IT
4 4    Ryan     76  HR
5 5    Gary     98  Finance
6 6    Nina     81  IT
7 7    Simon    83  Operations
8 8    Guru     89  CSE

In [75]:
res2 <-read.xlsx2('C:/Users/KIIT/Documents/College-Stuff/DA Lab/student.xlsx', 2)
res2

  name     doa
1 Rick     6-2-14
2 Dan      6-4-15
3 Michelle 5-4-12
4 Ryan     19-4-17
5 Gary     20-5-17
6 Nina     21-10-17
7 Simon    2-2-12
8 Guru     31-1-17

In [85]:
library(readxl)
library(tidyverse)
setwd("C:/Users/KIIT/Documents/College-Stuff/DA Lab/") ###set your working directory where your data resides
sheet = excel_sheets("student.xlsx")
df = lapply(setNames(sheet, sheet), function(x) read_excel("student.xlsx", sheet=x))
df = bind_rows(df, .id="Sheet")

In [84]:
install.packages("readxl")
library(readxl)

Warning message:
"package 'readxl' is in use and will not be installed"

In [86]:
df

   Sheet  roll name     per branch     doa
1  Sheet1  1   Rick     91  IT         NA
2  Sheet1  2   Dan      90  Operations NA
3  Sheet1  3   Michelle 72  IT         NA
4  Sheet1  4   Ryan     76  HR         NA
5  Sheet1  5   Gary     98  Finance    NA
6  Sheet1  6   Nina     81  IT         NA
7  Sheet1  7   Simon    83  Operations NA
8  Sheet1  8   Guru     89  CSE        NA
9  Sheet2 NA   Rick     NA  NA         6-2-14
10 Sheet2 NA   Dan      NA  NA         6-4-15
11 Sheet2 NA   Michelle NA  NA         5-4-12
12 Sheet2 NA   Ryan     NA  NA         19-4-17
13 Sheet2 NA   Gary     NA  NA         20-5-17
14 Sheet2 NA   Nina     NA  NA         21-10-17
15 Sheet2 NA   Simon    NA  NA         2-2-12
16 Sheet2 NA   Guru     NA  NA         31-1-17

In [91]:
library(xlsx)
df = do.call(rbind, df.list)
write.xlsx(df, "combinedData.xlsx", sheetName="finaldata", row.names=FALSE)

ERROR: Error in do.call(rbind, df.list): object 'df.list' not found

# 1806554 Ganesh Bhandarkar Lab 7

In [2]:
x <- as.integer(readline())
i = 1
while(i<=x){
    cat(i*i," ")
    i = i + 1
}

 5

1  4  9  16  25

In [15]:
library(stringi)
x <- readline()
y <- stri_reverse(x)
if(x == y){
    cat("palindrome\n")
}else{
    cat("not Pal")
}

 212

palindrome

In [23]:
hl <- function(x,y){
    if(x > y) {
        smaller = y
    } else {
        smaller = x
    }
    for(i in 1:smaller) {
        if((x %% i == 0) && (y %% i == 0)) {
            hcf = i
        }
    }
    lcm = x*y/hcf
    return(list(lcm,hcf))
}
x <- as.integer(readline())
y <- as.integer(readline())
hl(x,y)

 2
 3

[[1]]
[1] 6

[[2]]
[1] 1

In [24]:
mat = matrix(c(3:14),nrow = 4, byrow = FALSE)
mat

     [,1] [,2] [,3]
[1,] 3     7   11
[2,] 4     8   12
[3,] 5     9   13
[4,] 6    10   14

In [25]:
for(row in 1:nrow(mat)) {
    for(col in 1:ncol(mat)) {
        if(mat[col] < 5){
            mat[col] <- 0
        }
    }
}
mat

     [,1] [,2] [,3]
[1,] 0     7   11
[2,] 0     8   12
[3,] 5     9   13
[4,] 6    10   14

In [28]:
substr("abcdef", 2, 4)

[1] "bcd"

In [36]:
substr(rep("abcdef", 4), 1:4, 4:5)

[1] "abcd" "bcde" "cd"   "de"

In [37]:
install.packages("stringr")

package 'stringr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\KIIT\AppData\Local\Temp\Rtmp0sUiF7\downloaded_packages

In [42]:
x <- c("whxyz")

In [45]:
library(stringr)
pos <- str_replace(x, "xyz", "???") 
cat(pos)

wh???

# 1806554 Ganesh Bhandarkar Lab 8

In [50]:
data <- read.csv("students.csv",nrows = 8)

In [51]:
data

  roll name     doa      per branch
1 1    Rick     6-2-14   91  IT
2 2    Dan      6-4-15   90  Operations
3 3    Michelle 5-4-12   72  IT
4 4    Ryan     19-4-17  76  HR
5 5    Gary     20-5-17  98  Finance
6 6    Nina     21-10-17 81  IT
7 7    Simon    2-2-12   83  Operations
8 8    Guru     31-1-17  89  CSE

In [52]:
retval <- subset(data, per == max(per))
print(retval)

  roll name     doa per  branch
5    5 Gary 20-5-17  98 Finance

In [53]:
retval <- subset(data, branch == "IT" | branch == "CSE")
print(retval)

  roll     name      doa per branch
1    1     Rick   6-2-14  91     IT
3    3 Michelle   5-4-12  72     IT
6    6     Nina 21-10-17  81     IT
8    8     Guru  31-1-17  89    CSE

In [54]:
retval <- subset(data, per > 80)
print(retval)

  roll  name      doa per     branch
1    1  Rick   6-2-14  91         IT
2    2   Dan   6-4-15  90 Operations
5    5  Gary  20-5-17  98    Finance
6    6  Nina 21-10-17  81         IT
7    7 Simon   2-2-12  83 Operations
8    8  Guru  31-1-17  89        CSE

In [55]:
retval <- subset(data, as.Date(doa) > as.Date("1-5-17"))
print(retval)

  roll     name      doa per     branch
1    1     Rick   6-2-14  91         IT
2    2      Dan   6-4-15  90 Operations
3    3 Michelle   5-4-12  72         IT
4    4     Ryan  19-4-17  76         HR
5    5     Gary  20-5-17  98    Finance
6    6     Nina 21-10-17  81         IT
7    7    Simon   2-2-12  83 Operations
8    8     Guru  31-1-17  89        CSE

In [56]:
install.packages("xlsx")
library("xlsx")

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\KIIT\AppData\Local\Temp\RtmpC4r8PH\downloaded_packages

Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [74]:
library(xlsx)
res1 <- read.xlsx2('C:/Users/KIIT/Documents/College-Stuff/DA Lab/student.xlsx', 1)
res1

  roll name     per branch
1 1    Rick     91  IT
2 2    Dan      90  Operations
3 3    Michelle 72  IT
4 4    Ryan     76  HR
5 5    Gary     98  Finance
6 6    Nina     81  IT
7 7    Simon    83  Operations
8 8    Guru     89  CSE

In [75]:
res2 <-read.xlsx2('C:/Users/KIIT/Documents/College-Stuff/DA Lab/student.xlsx', 2)
res2

  name     doa
1 Rick     6-2-14
2 Dan      6-4-15
3 Michelle 5-4-12
4 Ryan     19-4-17
5 Gary     20-5-17
6 Nina     21-10-17
7 Simon    2-2-12
8 Guru     31-1-17

In [85]:
library(readxl)
library(tidyverse)
setwd("C:/Users/KIIT/Documents/College-Stuff/DA Lab/") ###set your working directory where your data resides
sheet = excel_sheets("student.xlsx")
df = lapply(setNames(sheet, sheet), function(x) read_excel("student.xlsx", sheet=x))
df = bind_rows(df, .id="Sheet")

In [84]:
install.packages("readxl")
library(readxl)

Warning message:
"package 'readxl' is in use and will not be installed"

In [86]:
df

   Sheet  roll name     per branch     doa
1  Sheet1  1   Rick     91  IT         NA
2  Sheet1  2   Dan      90  Operations NA
3  Sheet1  3   Michelle 72  IT         NA
4  Sheet1  4   Ryan     76  HR         NA
5  Sheet1  5   Gary     98  Finance    NA
6  Sheet1  6   Nina     81  IT         NA
7  Sheet1  7   Simon    83  Operations NA
8  Sheet1  8   Guru     89  CSE        NA
9  Sheet2 NA   Rick     NA  NA         6-2-14
10 Sheet2 NA   Dan      NA  NA         6-4-15
11 Sheet2 NA   Michelle NA  NA         5-4-12
12 Sheet2 NA   Ryan     NA  NA         19-4-17
13 Sheet2 NA   Gary     NA  NA         20-5-17
14 Sheet2 NA   Nina     NA  NA         21-10-17
15 Sheet2 NA   Simon    NA  NA         2-2-12
16 Sheet2 NA   Guru     NA  NA         31-1-17