In [11]:
name <- as.character(readline(prompt = "name"))
age <- as.integer(readline(prompt = "age"))
cat("Name : ", name,"\n","Age : ", age)

name Ganesh Bhandakar
age 20

Name :  Ganesh Bhandakar
 Age :  20

In [16]:
roll <- as.integer(readline(prompt = "roll no"))
name <- as.character(readline(prompt = "name"))
branch <- as.character(readline(prompt = "branch"))
cat("roll->",roll,"\n","name->",name,"\n","branch->",branch)

roll no 1806554
name Ganesh Bhandakar
branch IT

roll-> 1806554
 name-> Ganesh Bhandakar
 branch-> IT

In [23]:
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
cat("sum : ",x[1]+x[2],"\t","mul : ",x[1]*x[2],"\t","div : ",x[1]/x[2],"\t","sub : ",x[1]-x[2])

 5 2

sum :  7 	 mul :  10 	 div :  2.5 	 sub :  3

In [27]:
x <- as.character(readline())
x <- strsplit(x,"")
x <- as.integer(x[[1]])
cat("sum of 3 digits of number : ",x[1]+x[2]+x[3])

 234

sum of 3 digits of number :  9

In [28]:
x <- as.integer(readline())
area = 3.14*x*x
circumference = 2*3.14*x
cat("area : ",area,"\n","circumference : ",circumference)

 3

area :  28.26
 circumference :  18.84

In [35]:
cat("seq bet 20 to 50 : ",c(20:50))
cat("\n")
cat("mean bet 20 to 60 : ",mean(20:60))
cat("\n")
cat("sum for 51 to 91 : ",sum(51:91))

seq bet 20 to 50 :  20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
mean bet 20 to 60 :  40
sum for 51 to 91 :  2911

In [38]:
round(runif(10,-50,50))

 [1] -33  22  -6 -44   0 -16   2  13 -24  13

In [41]:
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
max(x)
min(x)

 1 70 11 34 21 45

[1] 70

[1] 1

In [48]:
x <- c(1,2,3,4,5)
y <- c("hey","how","are","you","bruh")
z <- x > 1
class(x)
cat(x,"\n")
class(y)
cat(y,"\n")
class(z)
cat(z)

[1] "numeric"

1 2 3 4 5

[1] "character"

hey how are you bruh

[1] "logical"

FALSE TRUE TRUE TRUE TRUE

In [51]:
x <- readline()
x <- strsplit(x," ")
x <- as.integer(x[[1]])
cat("sum : ",sum(x),"\n","mean : ",mean(x),"\n","product : ",prod(x))

 1 2 3 4 5

sum :  15
 mean :  3
 product :  120

In [58]:
tmp <- c(1:20)
print(tmp)
tmp <- c(20:1)
print(tmp)
tmp <- c(1:20,20:1)
print(tmp)
tmp <- c(4,6,3)
print(tmp)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 20 19 18 17 16
[26] 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1
[1] 4 6 3