# 1806554 Ganesh Bhandarkar Lab 3

In [8]:
mat = matrix(c(3:14),nrow = 4, byrow = TRUE)
mat

     [,1] [,2] [,3]
[1,]  3    4    5
[2,]  6    7    8
[3,]  9   10   11
[4,] 12   13   14

In [17]:
mat = matrix(c(3:14),nrow = 4, byrow = FALSE)
mat

     [,1] [,2] [,3]
[1,] 3     7   11
[2,] 4     8   12
[3,] 5     9   13
[4,] 6    10   14

In [18]:
dimnames(mat) <- list(letters[1:4],letters[1:3])
mat

  a b  c
a 3  7 11
b 4  8 12
c 5  9 13
d 6 10 14

In [19]:
print(mat[1,3])

[1] 11

In [20]:
print(mat[4,2])

[1] 10

In [21]:
print(mat[2,])

 a  b  c
 4  8 12

In [22]:
print(mat[,3])

 a  b  c  d
11 12 13 14

In [23]:
m1 = matrix(c(1:6),nrow = 2,ncol = 3, byrow = TRUE, dimnames = list(letters[1:2],letters[1:3]))
m1

  a b c
a 1 2 3
b 4 5 6

In [24]:
m2 = matrix(c(7:12),nrow = 2,ncol = 3, byrow = FALSE, dimnames = list(letters[1:2],letters[1:3]))
m2

  a b  c
a 7  9 11
b 8 10 12

In [26]:
matadd <- m1 + m2
matadd

  a  b  c
a  8 11 14
b 12 15 18

In [27]:
matsub <- m1 - m2
matsub

  a  b  c
a -6 -7 -8
b -4 -5 -6

In [28]:
matmul <- m1 * m2
matmul

  a  b  c
a  7 18 33
b 32 50 72

In [31]:
matdiv <- m1 / m2
round(matdiv,digits = 2)

  a    b    c
a 0.14 0.22 0.27
b 0.50 0.50 0.50

In [36]:
v <- readline()
v <- strsplit(v," ")
v <- as.integer(v[[1]])

w <- readline()
w <- strsplit(w," ")
w <- as.integer(w[[1]])

maat <- matrix(c(w,v),nrow = 3, byrow = FALSE)
dimnames(maat) <- list(letters[1:3],letters[4:7])
maat

 1 2 3 4 5 6
 7 8 9 10 11 12

  d e  f g
a 7 10 1 4
b 8 11 2 5
c 9 12 3 6