# 1806554 Ganesh Bhandarkar Lab 8

In [50]:
data <- read.csv("students.csv",nrows = 8)

In [51]:
data

  roll name     doa      per branch
1 1    Rick     6-2-14   91  IT
2 2    Dan      6-4-15   90  Operations
3 3    Michelle 5-4-12   72  IT
4 4    Ryan     19-4-17  76  HR
5 5    Gary     20-5-17  98  Finance
6 6    Nina     21-10-17 81  IT
7 7    Simon    2-2-12   83  Operations
8 8    Guru     31-1-17  89  CSE

In [52]:
retval <- subset(data, per == max(per))
print(retval)

  roll name     doa per  branch
5    5 Gary 20-5-17  98 Finance

In [53]:
retval <- subset(data, branch == "IT" | branch == "CSE")
print(retval)

  roll     name      doa per branch
1    1     Rick   6-2-14  91     IT
3    3 Michelle   5-4-12  72     IT
6    6     Nina 21-10-17  81     IT
8    8     Guru  31-1-17  89    CSE

In [54]:
retval <- subset(data, per > 80)
print(retval)

  roll  name      doa per     branch
1    1  Rick   6-2-14  91         IT
2    2   Dan   6-4-15  90 Operations
5    5  Gary  20-5-17  98    Finance
6    6  Nina 21-10-17  81         IT
7    7 Simon   2-2-12  83 Operations
8    8  Guru  31-1-17  89        CSE

In [55]:
retval <- subset(data, as.Date(doa) > as.Date("1-5-17"))
print(retval)

  roll     name      doa per     branch
1    1     Rick   6-2-14  91         IT
2    2      Dan   6-4-15  90 Operations
3    3 Michelle   5-4-12  72         IT
4    4     Ryan  19-4-17  76         HR
5    5     Gary  20-5-17  98    Finance
6    6     Nina 21-10-17  81         IT
7    7    Simon   2-2-12  83 Operations
8    8     Guru  31-1-17  89        CSE

In [56]:
install.packages("xlsx")
library("xlsx")

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\KIIT\AppData\Local\Temp\RtmpC4r8PH\downloaded_packages

Warning message:
"package 'xlsx' was built under R version 3.6.3"

In [74]:
library(xlsx)
res1 <- read.xlsx2('C:/Users/KIIT/Documents/College-Stuff/DA Lab/student.xlsx', 1)
res1

  roll name     per branch
1 1    Rick     91  IT
2 2    Dan      90  Operations
3 3    Michelle 72  IT
4 4    Ryan     76  HR
5 5    Gary     98  Finance
6 6    Nina     81  IT
7 7    Simon    83  Operations
8 8    Guru     89  CSE

In [75]:
res2 <-read.xlsx2('C:/Users/KIIT/Documents/College-Stuff/DA Lab/student.xlsx', 2)
res2

  name     doa
1 Rick     6-2-14
2 Dan      6-4-15
3 Michelle 5-4-12
4 Ryan     19-4-17
5 Gary     20-5-17
6 Nina     21-10-17
7 Simon    2-2-12
8 Guru     31-1-17

In [85]:
library(readxl)
library(tidyverse)
setwd("C:/Users/KIIT/Documents/College-Stuff/DA Lab/") ###set your working directory where your data resides
sheet = excel_sheets("student.xlsx")
df = lapply(setNames(sheet, sheet), function(x) read_excel("student.xlsx", sheet=x))
df = bind_rows(df, .id="Sheet")

In [84]:
install.packages("readxl")
library(readxl)

Warning message:
"package 'readxl' is in use and will not be installed"

In [86]:
df

   Sheet  roll name     per branch     doa
1  Sheet1  1   Rick     91  IT         NA
2  Sheet1  2   Dan      90  Operations NA
3  Sheet1  3   Michelle 72  IT         NA
4  Sheet1  4   Ryan     76  HR         NA
5  Sheet1  5   Gary     98  Finance    NA
6  Sheet1  6   Nina     81  IT         NA
7  Sheet1  7   Simon    83  Operations NA
8  Sheet1  8   Guru     89  CSE        NA
9  Sheet2 NA   Rick     NA  NA         6-2-14
10 Sheet2 NA   Dan      NA  NA         6-4-15
11 Sheet2 NA   Michelle NA  NA         5-4-12
12 Sheet2 NA   Ryan     NA  NA         19-4-17
13 Sheet2 NA   Gary     NA  NA         20-5-17
14 Sheet2 NA   Nina     NA  NA         21-10-17
15 Sheet2 NA   Simon    NA  NA         2-2-12
16 Sheet2 NA   Guru     NA  NA         31-1-17