# 1806554 Ganesh Bhandarkar Lab 7

In [2]:
x <- as.integer(readline())
i = 1
while(i<=x){
    cat(i*i," ")
    i = i + 1
}

 5

1  4  9  16  25

In [15]:
library(stringi)
x <- readline()
y <- stri_reverse(x)
if(x == y){
    cat("palindrome\n")
}else{
    cat("not Pal")
}

 212

palindrome

In [23]:
hl <- function(x,y){
    if(x > y) {
        smaller = y
    } else {
        smaller = x
    }
    for(i in 1:smaller) {
        if((x %% i == 0) && (y %% i == 0)) {
            hcf = i
        }
    }
    lcm = x*y/hcf
    return(list(lcm,hcf))
}
x <- as.integer(readline())
y <- as.integer(readline())
hl(x,y)

 2
 3

[[1]]
[1] 6

[[2]]
[1] 1

In [24]:
mat = matrix(c(3:14),nrow = 4, byrow = FALSE)
mat

     [,1] [,2] [,3]
[1,] 3     7   11
[2,] 4     8   12
[3,] 5     9   13
[4,] 6    10   14

In [25]:
for(row in 1:nrow(mat)) {
    for(col in 1:ncol(mat)) {
        if(mat[col] < 5){
            mat[col] <- 0
        }
    }
}
mat

     [,1] [,2] [,3]
[1,] 0     7   11
[2,] 0     8   12
[3,] 5     9   13
[4,] 6    10   14

In [28]:
substr("abcdef", 2, 4)

[1] "bcd"

In [36]:
substr(rep("abcdef", 4), 1:4, 4:5)

[1] "abcd" "bcde" "cd"   "de"

In [37]:
install.packages("stringr")

package 'stringr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\KIIT\AppData\Local\Temp\Rtmp0sUiF7\downloaded_packages

In [42]:
x <- c("whxyz")

In [45]:
library(stringr)
pos <- str_replace(x, "xyz", "???") 
cat(pos)

wh???