In [21]:
x <- matrix(1:6,nrow = 2,byrow=TRUE,dimnames = list(c("a","b"),c("a","b","c")))

In [22]:
x

  a b c
a 1 2 3
b 4 5 6

In [23]:
x <- t(x)

In [24]:
x

  a b
a 1 4
b 2 5
c 3 6

In [31]:
x[-1:-1,]

  a b
b 2 5
c 3 6

In [32]:
x <- c(1:5)

In [33]:
x

[1] 1 2 3 4 5

In [34]:
x <- c(3, 7, NA, 4, 7)
    y <- c(5, NA, 1, 2, 2)
    x + y

[1]  8 NA NA  6  9